#mainTopic{
    color: blue;
}

*{
    text-align: center;
}
h1,h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#para{
    color: white;
    background-color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}
button:hover{
    color: blue;
    background-color: yellow;
}

p:nth-last-of-type(odd){
    color: aqua;
}
h1::first-letter{
    color: brown;
}
#yes:checked + label{
    background-color: aqua;
    color: green;
}