* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar{
  background-color: black;
  width: 340px;
  border-radius: 1rem; /*1rem=16px*/
}

.main-content{
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  margin-left: 0.5rem;
  padding: 0 1.5rem 0 1.5rem;
}

.music-player{
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 200vh;
  height: 72px;
}

a{
  text-decoration: none;
  color: white;
  background-color: #121212;
}

.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  height: 100px;
}

.nav-option{
  background-color: #121212;
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.8rem 0.75rem;
}
.nav-option:hover{
  opacity: 1;
}
.nav-option i{
  font-size: 1.25rem;
  background-color: #121212;

}
.nav-option a{
  font-size: 1rem;
  margin-left: 1rem;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options{
  display: flex;
  background-color: #121212;
  justify-content: space-between;
  align-items: center;
}
.options i{
  background-color: #121212;
}
.icons{
  background-color: #121212;
}

.lib-option{
  background-color: #121212;
}
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}

.icons{
  font-size: 1.25rem;

  display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
}
.lib-box{
  background-color: #232323;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
}
.box{
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 1.25rem;
}

.box-p1{
  font-size: 1rem;
  background-color: #232323;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.box-p2
{
  font-size: 0.85rem;
  opacity: 0.9;
  background-color: #232323;
  margin-bottom: 1rem;

}

.badge{
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  color: black;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}

.sticky-nav{
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding-top: 1rem 0 1rem 0;
  z-index: 1;
}
.sticky-nav-icons{
  background-color: #121212;
  margin-left: 0.75rem;
}
.sticky-nav-icons img{
  background-color: #121212;
  
}
.sticky-nav-options{
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-nav-options i{
  background-color: #121212;
}

.sticky-nav-options button,i{
  margin-right: 1rem;
}

.dark-badge{
  background-color: black;
  color: white;
}

@media (max-width: 1000px){
  .hide{
    display: none;
  }
}

.card{
  background-color: #232323;
  width: 170px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
h2{
  background-color: #121212;
}
.card p{
  background-color: #232323;
}

.card-container{
  display: flex;
  background-color: #121212;
  flex-wrap: wrap;
}

.card-img{
  width: 100%;
  border-radius: 0.5rem;
}

.card-title{
  font-weight: 500;
}

.card-info{
  opacity: 0.75;
  
}

.footer{
  height: 300px;
  background-color: #121212;
}

.music{
  display: flex;
  align-items: center;
  width: 25%;
}

.music-name img{
  height: 56px;
  width: 56px;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  object-fit: cover;
  display: block;
}
.m-img{
  display: flex;
  align-items: center;
  gap: 8px;
}

.m-img i{
  margin-left: 1rem;
  margin-right: 0;
}

.text p{
  font-weight: 300;
  font-size: small;
  opacity: 0.5;
}

.music-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player{
  width: 50%;
  justify-content: center;
  align-items: center;
}
.player img{
  margin-right: 2rem;
}

.controls{
  width: 25%;
}

.player-controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-control-icon {
  height: 1rem;
  width: 1rem;
  opacity: 0.7;
}
.player-control-icon:hover{
  opacity: 1;
}
.play{
  height: 1.5rem;
  width: 1.5rem;
}

.playback-bar{
  justify-content: center;
  align-items: center;
  display: flex;

}

.playback-bar input{
    width: 70%;
    background-color: transparent;
    color: green;
    cursor: pointer;
}

.playback-bar::-webkit-slider-runnable-track{
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}

.playback-bar::-webkit-slider-thumb{
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #1bd760;
  border-radius: 50%;
}





