* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar{
  background-color: black;
  width: 340px;
  border-radius: 1rem; /*1rem=16px*/
}

.main-content{
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  margin-left: 0.5rem;
}

.music-player{
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 200vh;
  height: 72px;
}

a{
  text-decoration: none;
  color: white;
  background-color: #121212;
}

.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  height: 100px;
}

.nav-option{
  background-color: #121212;
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.8rem 0.75rem;
}
.nav-option:hover{
  opacity: 1;
}
.nav-option i{
  font-size: 1.25rem;
  background-color: #121212;

}
.nav-option a{
  font-size: 1rem;
  margin-left: 1rem;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options{
  display: flex;
  background-color: #121212;
  justify-content: space-between;
  align-items: center;
}
.options i{
  background-color: #121212;
}
.icons{
  background-color: #121212;
}

.lib-option{
  background-color: #121212;
}
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}

.icons{
  font-size: 1.25rem;

  display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
}